.page_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  margin-bottom: 35px;
  color: var(--main-text);
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.no_service_wrapper {
  max-width: 531px;
  margin: 60px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-bottom: 40px;
  }
}

.no_service_title {
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: var(--main-text);
  margin-bottom: 25px;
}

.no_service_description {
  font-weight: 300;
  text-align: center;
  font-size: 16px;
  color: var(--main-text);
}

.print_btn {
  margin-right: 20px;
}

.icons_wrapper {
  display: none;
  margin-bottom: 30px;
}

.table_title {
  display: none;
}

@media screen and (min-width: 768px) {
  .pagination {
    justify-content: flex-end;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    display: grid;
    grid-template-columns: repeat(2, 292px);
    column-gap: 30px;
  }
  .icons_wrapper {
    display: flex;
  }
  .page_title {
    margin-bottom: 30px;
  }

  .pagination {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1300px) {
  .list {
    display: grid;
    grid-template-columns: repeat(3, 292px);
    column-gap: 30px;
  }
}

@media screen and (min-width: 1550px) {
  .list {
    display: flex;
    flex-direction: column;
  }

  .pagination {
    margin-top: 30px;
  }

  .table_title {
    // display: grid;
    // grid-template-columns: repeat(5, 1fr) 2fr 1fr;

    display: flex;
    align-items: center;
    column-gap: 50px;

    & div {
      display: flex;
      align-items: center;

      & span {
        font-size: 14px;
      }

      &:nth-child(1) {
        flex-basis: 6%;
      }
      &:nth-child(2) {
        flex-basis: 9%;
        word-break: break-all;
      }
      &:nth-child(3) {
        flex-basis: 9%;
      }
      &:nth-child(4) {
        flex-basis: 30%;
      }
      &:nth-child(5) {
        flex-basis: 10%;
      }
      &:nth-child(6) {
        flex-basis: 20%;
      }
      &:nth-child(7) {
        flex-basis: 8%;
      }
    }

    column-gap: 50px;
    padding-left: 23px;
    padding-right: 23px;
    align-items: center;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1920px) {
  .table_title {
    max-width: 1258px;
    // column-gap: 65px;
  }

  .pagination {
    margin-top: 40px;
  }
}
