.linkText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--menu-text-3);
  user-select: none;
}

.link {
  text-decoration: underline;
  margin-right: 10px;
}

.tickerId {
  user-select: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--transparent-color);
  margin-left: 10px;
}

.breadCrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 45px;
}

.ticketSubj {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 113%;
  color: var(--support-title-color);
}

.infoContainer {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.infoBlock {
  margin-right: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 70.9%;
  color: var(--menu-text-3);
  &.red {
    color: var(--error-color);
  }
  &.green {
    color: var(--success-color);
  }
}

.backBtn {
  margin-top: 25px;
  max-width: 255px;
  height: 55px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1550px) {
}

@media screen and (min-width: 1918px) {
}
