.modalBg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 149;
  overflow-y: auto;
}

.modalBlock {
  background: var(--main-bgc);
  box-shadow: var(--forms2_shadow);
  border-radius: 3px;
  padding: 25px 22px;
  margin: 20px 30px;
  max-width: 690px;
  width: 100%;
}

.modalHeader {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.crossIcon {
  fill: var(--main-text);
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
}

@media screen and (min-width: 768px) {
  .modalBg {
    align-items: center;
    height: 100vh;
  }

  .modalBlock {
    padding: 24px 35px;
    margin: 0 30px;
  }
}
