.page_wrapper {
  max-height: 0px;
  overflow: hidden;
}

.page_title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 113%;
  color: var(--main-text);
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .pagination {
    justify-content: flex-end;
    margin-top: 30px;
  }

  .page_wrapper {
    max-height: none;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1550px) {
  .pagination {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1918px) {
  .pagination {
    margin-top: 40px;
  }
}
