.modalBg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 149;
  overflow-y: auto;
}

.modalBlock {
  background: var(--main-bgc);
  box-shadow: var(--forms2_shadow);
  border-radius: 3px;
  padding: 21px 22px;
  margin: auto 30px;
  max-width: 690px;
  width: 100%;
}

.modalHeader {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.crossIcon {
  fill: var(--main-text);
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
}

.formBlock {
  margin-top: 25px;
  display: flex;
  flex-direction: column;

  &.last {
    padding-bottom: 25px;
    border-bottom: 1px solid #e1daea;
  }
}

.formBlockTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 70.9%;
  margin-bottom: 5px;
  color: var(--main-text);
}

.formFieldsBlock {
  display: flex;
  flex-wrap: wrap;

  &.first {
    align-items: center;
  }
}

.btnBlock {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.saveBtn {
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  height: 55px;
}

.select {
  max-width: 313px;
  margin-top: 15px;
}

.error_message {
  margin-left: 2px;
  color: var(--error-color);
  font-size: 13px;
  line-height: 1.2;
  margin-top: 3px;
}

.inputAmountBlock {
  display: flex;
  align-items: center;
  margin-top: 15px;
  flex-basis: 100%;
  position: relative;

  .input {
    width: 100%;
  }

  .currency {
    position: absolute;
    right: 20px;
    top: 13px;
    z-index: 1;
    font-weight: 400;
    font-size: 17px;
    line-height: 130.5%;
    color: var(--main-text);
  }

  .inputHeight {
    input {
      padding-right: 70px;
    }
  }
}

.paymentMethodBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-basis: 100%;
  margin: 15px 15px 0 0;
  padding: 14px;
  box-shadow: var(--forms2_shadow);
  background-color: var(--forms_bgc_3);
  position: relative;

  img {
    width: 20px;
    height: 20px;
  }

  &.selected {
    span {
      max-width: 70%;
    }
    .iconCheck {
      display: flex;
    }
  }

  .iconCheck {
    stroke: var(--success-color);
    display: none;
    position: absolute;
    right: 16px;
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130.5%;
    color: var(--main-text);
    margin-left: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:active {
    transform: scale(0.95);
  }
}

.infotext {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--main-text);
  margin-top: 17px;

  span {
    color: var(--error-color);
  }
}

.addNewPayerBtn {
  margin: 15px 15px;
  display: flex;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 70.9%;
  letter-spacing: -0.01em;
  text-decoration-line: underline;

  color: var(--link-color);
  cursor: pointer;
}

.offerBlock {
  display: flex;
  align-items: center;
  margin-top: 13px;
  max-width: 270px;
}

.checkbox {
  margin-right: 10px;
}

.offerBlockText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text);
}

.offerBlockLink {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.inputPerson {
  margin-top: 13px;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .paymentMethodBtn {
    flex-basis: 30%;
  }

  .inputAmountBlock {
    flex-basis: 30%;
  }

  .addNewPayerBtn {
    width: auto;
    margin: 13px 0 0 0;
  }

  .offerBlock {
    margin-top: 33px;
  }

  .inputPerson {
    max-width: 311px;
    margin-right: 20px;
  }

  .select {
    margin-right: 20px;
  }

  .modalBg {
    align-items: center;
    height: 100vh;
  }

  .modalBlock {
    padding: 38px 50px;
    margin: 0 30px;
  }

  .btnBlock {
    flex-direction: row;
  }

  .saveBtn {
    width: 254px;
  }
}
