.formBlock {
  display: flex;
  flex-direction: column;
}

.geo_wrapper {
  display: grid;
  gap: 15px 20px;
}

.formBlockTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 70.9%;
  margin-bottom: 5px;
  color: var(--main-text);
}

.select {
  max-width: 100%;
}

// hide scrollbar from payerSelect List
.additionalSelectPayer {
  & > div {
    overflow-x: hidden;
  }
}

.inputBig {
  max-width: 100%;
  padding-bottom: 0;
}

.payerBlock {
  width: 100%;
  display: grid;
  gap: 15px 20px;
}

.countrySelectItem {
  display: flex;
  align-items: center;

  img {
    margin-right: 13px;
  }
}

.nsInputBlock {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.infoBtn {
  position: absolute;
  margin-left: auto;
  top: 28px;
  right: 0px;
  z-index: 2;
  padding: 12px 12px 12px 0px;
  cursor: pointer;

  &:hover {
    svg {
      path {
        opacity: 1;
        fill: url(#gradient);
      }
    }
    .descriptionBlock {
      opacity: 1;
      height: auto;
      overflow: auto;
      padding: 15px;
    }
  }
}

.descriptionBlock {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  box-shadow: var(--burger-menu-elem-box-shadow);
  background-color: var(--forms_bgc_4);
  padding: 0;
  top: 90%;
  right: 0;
  width: 232px;
  z-index: 3;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130.5%;
  color: var(--main-text);
  text-align: start;
  transition: 0.05s linear;
  &::after {
    content: '';
    position: absolute;
    left: 89%;
    bottom: 99%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--forms_bgc_4);
    clear: both;
  }
}

.error_message {
  margin-left: 2px;
  color: var(--error-color);
  font-size: 13px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .nsInputBlock {
    position: relative;
    width: 100%;
  }

  .inputBig {
    width: 100%;

    &.inputAddress {
      max-width: 100%;
    }
  }

  .payerBlock {
    grid-template-columns: repeat(3, 1fr);
  }

  .geo_wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
  }
}

@media screen and (min-width: 1281px) {
  .infoBtn {
    top: 31px;
  }
}
