@import '@scss/placeholders.scss';

.server_item {
  @extend %server_items;

  position: relative;

  justify-content: center;

  padding: 15px 15px 65px;
  border-radius: 3px;

  &:last-child {
    margin-bottom: 5px;
  }
}

.control_bts_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.shevron_btn {
  position: absolute;

  bottom: 0px;
  right: 0;
  left: 0;
  cursor: pointer;
  border-top: 1px solid var(--inactive_icon_color);

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shevron {
  stroke: var(--main-text);
  transition: transform 150ms;
  transform: rotateZ(180deg);

  &.opened {
    transform: rotateZ(360deg);
  }
}

.tariff_name {
  font-size: 18px;
  padding-right: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.countItem {
  // position: absolute;
  // right: 10px;
  // padding: 5px 5px;
  // background-color: rgba(174, 156, 205, 0.15);
  // border-radius: 3px;
  // min-width: 65px;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  font-weight: 400;
  font-size: 18px;
  color: var(--main-text);
  margin-left: 10px;
  // margin-left: 20px;
}

.btn_delete {
  // position: absolute;
  // top: 15px;
  // right: 15px;
  cursor: pointer;
}

.percent {
  font-size: 16px;
  color: var(--red-text);
}

.discount_wrapper {
  margin-bottom: 10px;
}

.old_price {
  font-size: 16px;
  color: var(--transparent-color);
  text-decoration: line-through;
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.dropdown {
  height: 0;
  font-size: 14px;
  transition: height 150ms;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // align-items: flex-start;
}

.value {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--main-text);

  b {
    font-weight: 600;
  }
}

.periodInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--transparent-color);
    text-align: start;

    &:first-child {
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .shevron {
    margin-top: 25px;
  }

  .periodInfo {
    flex-direction: row;
  }

  .server_item {
    justify-content: center;
    min-height: 60px;
    padding: 10px 60px 10px 15px;
  }

  .main_info_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .shevron_btn {
    display: flex;
    // align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    bottom: unset;
    width: 50px;
    height: 45px;
    border: none;
    left: auto;
  }

  .tariff_name {
    padding-right: 0;
    // margin: 0 10px 0 20px;
    margin: 0;
  }

  .discount_wrapper {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    gap: 5px;
    order: 2;
  }

  .price {
    order: 1;
    // text-align: end;
    // white-space: nowrap;
  }

  .price_wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  .dropdown {
    width: 100%;
  }

  .period {
    font-weight: 400;
  }
  .value_item {
    width: fit-content;
  }

  .discount_wrapper {
    margin-bottom: 0;
  }

  // .countItem {
  //   margin-left: 20px;
  // }
}
