.server_item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  background: var(--forms_bgc_3);
  box-shadow: var(--forms_shadow);
  padding: 19px 25px;

  img {
    width: 31px;
    height: 37px;
  }

  position: relative;
}

.additional_info_item {
  display: none;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  background: var(--forms_bgc_3);
  box-shadow: var(--forms_shadow);
  padding: 19px 25px 19px 55px;

  &.opened {
    display: flex;
  }
}

.service_name {
  font-size: 14px;
  line-height: 120%;
  color: var(--main-text);

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.priceList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 15px;
}

.domainName {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 70.9%;
  color: var(--main-text);
  margin-bottom: 4px;
}

.domainProtect {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--transparent-color);
}

.costBlock {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.cost {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  width: 150px;
  // line-height: 70.9%;
  color: var(--main-text);
  margin-bottom: 4px;
}

.discountBlock {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  align-self: start;

  .discountPerCent {
    color: var(--error-color);
    margin-right: 5px;
  }

  .fullcost {
    text-decoration: line-through;
    color: var(--transparent-color);
  }
}

.deleteIcon {
  position: absolute;
  top: 17px;
  right: 17px;
  margin-left: 40px;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.shevron {
  stroke: var(--icon-color);
  margin-right: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
  order: 3;
  align-self: center;
  transform: rotateX(180deg);

  &:hover {
    stroke: var(--transparent-color);
  }

  &.opened {
    transform: rotateX(360deg);
  }
}

@media screen and (min-width: 768px) {
  .server_item {
    flex-direction: row;
    align-items: center;
  }

  .shevron {
    order: unset;
    align-self: unset;
  }

  .priceList {
    display: flex;
    margin-left: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    margin-top: 0;
  }

  .costBlock {
    display: flex;
    align-items: flex-end;
    margin-top: 0;
    margin-left: 15px;
  }

  .deleteIcon {
    position: relative;
    top: 0;
    right: 0;
  }
}
