@import '../../../../scss/placeholders.scss';

.modal {
  position: relative;
  width: 90vw;
  max-width: 400px;
  height: fit-content;
  border-radius: 3px;

  background-color: var(--forms_bgc_1);
  box-shadow: var(--forms2_shadow);
}

.title_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: var(--modal_header_shadow);
  background-color: var(--forms_bgc_2);
}

.footer_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 20px 20px;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--modal_footer_shadow);
}
.icon_cross {
  display: flex;
  cursor: pointer;
}

.padding {
  padding: 0 20px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
}

.name {
  font-size: 16px;
  margin-bottom: 12px;
}

.description {
  font-size: 13px;
  margin-bottom: 16px;
}

.inputs_block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 290px;
  margin: 0 auto 22px;
}

.input {
  background-color: var(--forms_bgc_3);
}

.btn_save {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  height: 50px;
  font-size: 18px;
}

.btn_cancel {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--main-text);
  }
}

.names_wrapper {
  margin-bottom: 10px;
}

.names_block {
  overflow: hidden;
  transition: height 150ms;
  font-size: 14px;
  color: var(--transparent-color);
  @extend %scrollbar;

  .name_item:not(:first-child) {
    opacity: 0;
  }

  &.opened {
    overflow: auto;

    .name_item {
      opacity: 1;
    }
  }
}

.name_item {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 3px;
}

.btn_more {
  color: var(--link-color);
  line-height: 1;
  font-size: 14px;
  border-bottom: 1px solid var(--link-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .title_wrapper {
    padding: 15px 40px;
  }
  .description {
    margin-bottom: 20px;
    text-align: center;
  }
  .inputs_block {
    max-width: initial;
  }
  .padding {
    padding: 0 40px;
  }

  .title {
    text-align: center;
    margin-bottom: 5px;
  }

  .name {
    text-align: center;
    margin-bottom: 20px;
  }

  .form {
    margin: 0 auto 15px;
  }

  .btn_save {
    margin: 10px auto 0;
  }

  .names_wrapper {
    text-align: center;
  }
}
