.list_item_title {
  margin-bottom: 18px;
}

.list_item_title_text {
  font-weight: 600;
  font-size: 16px;
  line-height: 113%;
  color: var(--main-text);
}

.list_item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 22px;
  cursor: pointer;

  &.opened {
    & .shevron {
      transform: rotateZ(0deg);
    }
  }
}

.list_item_wrapper {
  &.opened {
    background-color: var(--sublist-bgd);
    padding: 12px 14px 10px 14px;
  }
}

.list_item_subtitle {
  font-weight: 300;
  width: 50%;
  font-size: 16px;
  line-height: 115%;
  text-align: start;
  color: var(--main-text);
}

.sub_list {
  position: relative;
  display: none;

  &.selected {
    display: block;
  }

  & li {
    margin-left: 16px;
  }

  & .allow_all_item {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-bottom: 22px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--center-border-color);
    border-radius: 5px;
  }
}

.shevron {
  stroke: var(--main-text);
  transform: rotateZ(180deg);
  transition: transform 0.2s ease;
  // cursor: pointer;
}

// ADAPTIVE
@media screen and (min-width: 768px) {
  .list_item_subtitle {
    width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .list_item_title_text {
    font-size: 18px;
  }
  .list_item_subtitle {
    font-size: 18px;
  }
}
