.nav_bar {
  position: relative;
  height: 70px;
  margin-bottom: 25px;
}

.title {
  font-weight: 600;
  font-size: 20px;
}

.links_wrapper {
  position: absolute;
  bottom: 0;
  left: -30px;
  width: 100vw;
  height: fit-content;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    background-image: linear-gradient(
      90deg,
      var(--main-bgc) 30%,
      rgba(0, 0, 0, 0.001) 100%
    );
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30px;
    background-image: linear-gradient(
      270deg,
      var(--main-bgc) 30%,
      rgba(0, 0, 0, 0.001) 100%
    );
  }
}

.line {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3px;
  z-index: -1;

  background-color: var(--elements-bgc);
  box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.49), 1px 1px 2px #cfc4e8;
}

.scroll_area {
  display: flex;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  &::before {
    content: '';
    width: 30px;
    display: block;
    flex: none;
  }

  &::after {
    content: '';
    width: 30px;
    display: block;
    flex: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.link {
  font-size: 16px;
  white-space: nowrap;

  &:not(:last-child) {
    margin-right: 25px;
  }

  &:hover {
    color: var(--accent-color-light);
  }
}

.active_link {
  cursor: initial;
  pointer-events: none;

  &:hover {
    color: inherit;
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 99px;
    margin-top: 8px;
    background-image: var(--accent-gradient);
  }
}
