.filters_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 400px;
  width: 90vw;
  height: 90vh;
  padding: 17px 14px;
  box-shadow: var(--forms2_shadow);
  background: var(--forms_bgc_1);
  border-radius: 3px;
  overflow: auto;
  z-index: 151;
  opacity: 0;
  pointer-events: none;
  transform: scale(0) translate(-50%, -50%);
  transition: transform 150ms;

  &.opened {
    pointer-events: initial;
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
}

.formHeader {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 17px;
  align-items: center;
  justify-content: space-between;
  z-index: 2;

  &::after {
    content: '';
    position: absolute;
    top: -17px;
    left: -14px;
    right: -14px;
    bottom: 0;
    z-index: -1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: var(--modal_header_shadow);
    background-color: var(--forms_bgc_3);
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 113%;
    color: var(--main-text);
  }
}

@media screen and (min-width: 768px) {
  .filters_modal {
    position: absolute;
    left: -17px;
    overflow: initial;
    height: fit-content;
    max-width: initial;
    width: fit-content;
    padding: 20px;
    top: calc(100% + 15px);
    transform: scale(0);

    &.opened {
      transform: scale(1);
    }

    &::after {
      content: '';
      position: absolute;
      left: 30px;
      top: -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid var(--forms_bgc_1);
      clear: both;
    }
  }

  .formHeader {
    position: static;

    &::after {
      display: none;
    }
  }
}

@media screen and (min-width: 1918px) {
  .filters_modal {
    padding: 26px 31px;
  }
}
