.item {
  height: 62px;
  background: var(--forms_bgc_2);
  box-shadow: var(--forms_shadow);
  border-radius: 5px;
}

.item_btn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  gap: 30px;
  cursor: pointer;
  position: relative;
  user-select: text;

  &.active_server::after,
  &:hover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: var(--accent-gradient);
  }
}

.value {
  font-size: 15px;
  text-align: start;

  &:nth-child(1) {
    flex-basis: 9%;
  }
  &:nth-child(2) {
    flex-basis: 12%;
    word-break: break-all;
  }
  &:nth-child(3) {
    flex-basis: 10%;
  }
  &:nth-child(4) {
    flex-basis: 10%;
  }
  &:nth-child(5) {
    flex-basis: 13%;
  }
  &:nth-child(6) {
    flex-basis: 10%;
  }
  &:nth-child(7) {
    flex-basis: 7%;
  }
  &:nth-child(8) {
    flex-basis: 9%;
  }
  &:nth-child(9) {
    flex-basis: 11%;
  }
}

.price {
  display: block;
  font-size: 14px;
  color: var(--transparent-color);
}
