@import '../../../scss/placeholders.scss';

.icon_btn {
  background-color: var(--elements-bgc);
  justify-content: center;
  align-items: center;
  min-width: 46px;
  min-height: 46px;
  box-shadow: var(--forms_shadow);
  border-radius: 3px;
  cursor: pointer;
  
  &:disabled {
    opacity: 0.4;
    cursor: auto;
  }
  &:active {
    transform: scale(0.95);
  }
}
