.modalBg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 200;
}

.label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  margin-left: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.error_message {
  margin-left: -10px;
  color: var(--error-color);
  font-size: 13px;
  line-height: 1.2;
}

.modalBlock {
  background: var(--main-bgc);
  box-shadow: 0px 1px 8px rgba(65, 38, 114, 0.15);
  border-radius: 3px;
  padding: 17px;
  width: 100%;
  max-width: 900px;
  margin: 0 30px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 113%;
    color: var(--main-text);
  }
}

.crossBtn {
  cursor: pointer;
  svg {
    path {
      fill: var(--main-text);
    }
  }
  &:active {
    transform: scale(0.95);
  }
}

.form {
  margin-top: 21px;
}

.submit_btn {
  height: 55px;
  max-width: 255px;
  width: 255px;
  text-transform: uppercase;
  margin-top: 22px;
}

.departmentSelect {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.select {
  margin-top: 20px;
  z-index: 9;
}
.input_field_wrapper {
  margin-top: 20px;
  input {
    font-size: 18px;
  }
}

.select {
  div {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .modalBlock {
    padding: 22px 31px;
  }
  .departmentSelect {
    flex-direction: row;
  }
}

@media screen and (min-width: 1024px) {
  .modalBlock {
    padding: 23px 35px;
  }
}

@media screen and (min-width: 1550px) {
  .modalBlock {
    padding: 37px 45px;
  }
}

@media screen and (min-width: 1918px) {
  .modalBlock {
    padding: 37px 45px;
  }
}
