.container {
  padding: 117px 30px 87px 30px;
}

.aside_menu_container {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 127px 60px 210px 60px;
  }

  .aside_menu_container {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    padding: 127px 60px 42px 200px;
    width: 100%;
  }
}

@media screen and (min-width: 1550px) {
  .container {
    padding: 137px 135px 188px 290px;
  }
}

@media screen and (min-width: 1918px) {
  .container {
    margin: unset;
    padding: 157px 0px 120px 290px;
  }
}
