.container {
  padding: 117px 30px 0px 30px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 127px 60px 0px 60px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
    padding: 127px 0px 0px 117px;
    width: 768px;
    min-height: 100vh;
  }
}

@media screen and (min-width: 1550px) {
  .container {
    padding: 137px 0px 0px 130px;
    width: 1085px;
  }
}

@media screen and (min-width: 1918px) {
  .container {
    margin: unset;
    width: 1258px;
    padding: 157px 0px 0px 290px;
  }
}
