.min_card_wrapper {
  box-shadow: var(--burger-menu-elem-box-shadow);
  padding: 14px 21px 18px 18px;
  margin-bottom: 15px;
  position: relative;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 70.9%;
  margin-bottom: 10px;
  color: var(--transparent-color);
}

.user_email {
  font-weight: 400;
  font-size: 16px;
  line-height: 70.9%;
  color: var(--link-color);
}
.user_name,
.user_access {
  font-weight: 400;
  font-size: 16px;
  line-height: 70.9%;
  color: var(--main-text);
}

.user_status {
  font-weight: 400;
  font-size: 16px;
  line-height: 70.9%;
  color: #45a884;
}

.user_status_off {
  font-weight: 400;
  font-size: 16px;
  line-height: 70.9%;
  color: #d93f21;
}

.email_wrapper,
.name_wrapper,
.full_access_wrapper,
.status_wrapper {
  margin-bottom: 15px;
}

.control_btn {
  position: absolute;
  display: flex;
  right: 21px;
  top: 23px;
  cursor: pointer;
}

.list {
  position: absolute;
  width: 193px;
  background-color: var(--nearby-elements-bgc);
  top: 25px;
  right: -21px;
  padding: 31px 16px 23px 16px;
  box-shadow: var(--burger-menu-elem-box-shadow);
  border-radius: 5px;
  display: none;

  &::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--nearby-elements-bgc);
    transform: rotate(45deg);
    top: -7px;
    right: 27px;
    box-shadow: -1px -1px 3px -2px rgba(0, 0, 0, 0.5);
  }

  &.opened {
    display: block;
  }
}

.dot {
  position: relative;

  &::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: var(--main-text);
  }
}

.settings_btn,
.access_rights_btn,
.remove_btn {
  display: flex;
}

.setting_text {
  margin-left: 18px;
}
.access_text {
  margin-left: 15px;
}
.delete_text {
  margin-left: 22px;
}

.icon {
  fill: var(--icon-color);

  &:hover {
    fill: url(#gradient);
  }
}
