.table {
  width: 100%;
  text-align: left;
  border-spacing: 0 8px;

  .th {
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
  }
  .td {
    font-size: 16px;
    white-space: nowrap;
    &.ip_cell {
      white-space: normal;
      word-break: break-all;
    }
    &.servername_cell {
      width: 200px;
      max-width: 200px;
    }
  }
  .td,
  .th {
    // &:first-child {
    //   width: 46px;
    //   padding-right: 16px;
    //   padding-left: 0;
    // }
    &:nth-child(1) {
      padding-left: 32px;
    }
    &:last-child {
      padding-right: 32px;
    }
    padding: 17px 10px;
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(8) {
      display: none;
    }
    @media (min-width: 1024px) {
      &:nth-child(8) {
        display: table-cell;
      }
    }
    @media (min-width: 1550px) {
      &:nth-child(5),
      &:nth-child(7) {
        display: table-cell;
      }
    }
  }
}

.tbody {
  position: relative;
  z-index: 1;
  .tr {
    position: relative;
    cursor: pointer;

    .td {
      &:nth-child(1) {
        &::before {
          content: '';
          // width: calc(100% - 46px);
          width: 100%;
          height: 100%;
          position: absolute;
          // left: 46px;
          left: 0;
          top: 0;
          z-index: -1;
          box-shadow: 0 1px 8px rgba(65, 38, 114, 0.15);
          border-radius: 3px;
        }
      }
    }

    &:hover {
      .td:before {
        background: linear-gradient(89.98deg, #feeff7 0.02%, #f5eafe 99.98%);
      }
    }
  }
}

.sort {
  display: flex;
  align-items: center;
  gap: 6px;
  line-height: 1;
}

.sort_active {
  svg {
    fill: #392955;
  }
}

.popup {
  color: #878290;
  box-shadow: 0 1px 8px rgba(65, 38, 114, 0.15);
}

.popup__wrapper {
  display: flex;
  align-items: center;
  width: max-content;
}

.popup__wrapper_flag {
  box-shadow: var(--forms2_shadow);
}

.status {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #ccc;
  line-height: 1;
  &.runing,
  &.active {
    background-color: #45a884;
  }
  &.stopped,
  &.deletion_in_progress {
    background-color: #fa6848;
  }
  &.ordered {
    background-color: #f79649;
  }
}

.mobile__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px 15px;
}

.mobile_item {
  padding: 24px 20px;
  box-shadow: 0px 1px 8px 0px #41267226;
  width: 260px;
  border-radius: 3px;
  text-align: left;
}

.mobile_item__header {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
  padding-bottom: 20px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(89.98deg, #feeff7 0.02%, #f5eafe 99.98%) 1 0;
}

.mobile_item__header_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.mobile_item__name {
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}
.mobile_item__body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  align-items: center;
}

.mobile_item__param {
  font-size: 14px;
  color: #b3a9c1;
  white-space: nowrap;
}

.mobile_item__value {
  font-size: 14px;
  word-break: break-all;
}

.no_vds_wrapper {
  text-align: center;
  margin: 40px auto;
  max-width: 500px;
}

.no_vds {
  display: block;
  margin: 0 auto 20px;
  filter: grayscale(1);
}

.no_vds_title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
