.filterBlock {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 40px;
}

.newTicketBtn {
  text-transform: uppercase;
  max-width: 230px;
  max-height: 53px;
}

.form {
  width: 100%;
  max-width: 630px;
  display: flex;
  align-items: center;
}

.searchInput {
  max-width: 260px;
  margin-right: 20px;
}

.formBlock {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.archiveBtn {
  margin-left: 20px;
}

@media screen and (max-width: 767px) {
  .filterBlock {
    flex-direction: column-reverse;
  }
  .searchInput {
    max-width: 100%;
    margin-right: 20px;
  }
  .form {
    max-width: 100%;
  }
  .newTicketBtn {
    margin-bottom: 30px;
    max-height: 53px;
    max-width: 100%;
  }
}
