.phone_verification_page {
  display: flex;
  padding-top: 44px;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  leading-trim: both;
  text-edge: cap;
  color: var(--main-text);

  margin-bottom: 30px;
}

.backBtn {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  leading-trim: both;
  text-edge: cap;

  color: var(--transparent-color);
  border-bottom: 1px solid var(--transparent-color);

  width: min-content;
  margin-bottom: 35px;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.timeOutBlock {
  background: var(--forms_bgc_2);
  box-shadow: var(--shadow_cards_static);
  border-radius: 3px;
  display: flex;
  align-items: center;
  max-width: fit-content;
  padding: 14px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  leading-trim: both;
  text-edge: cap;

  background: linear-gradient(180.08deg, #ff6f66 12.11%, #fa487d 98.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  svg {
    margin-right: 9px;
  }
}

.attempts {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;

  color: var(--main-text);
  margin-bottom: 24px;
}

.phoneInputContainer {
  position: relative;
  max-width: 100%;
  z-index: 7;
}

.phoneInput {
  width: 100%;
  margin-bottom: 0;
  margin-right: 0px;
}

.select,
.input {
  margin-top: 24px;
  z-index: 6;
  max-width: 100%;
  button {
    height: 50px;
  }
}

.typeDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
  color: var(--main-text);

  margin-top: 20px;
}

.btnBlock {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.cancel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  margin-top: 22px;
  color: var(--main-text);
  cursor: pointer;
}

.saveBtn {
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  height: 55px;
}

@media screen and (min-width: 768px) {
  .phoneInput {
    margin-right: 25px;
  }

  .select,
  .input {
    max-width: 320px;
  }

  .phoneInputContainer {
    max-width: 320px;
  }

  .cancel {
    margin-top: 0px;
    margin-left: 20px;
  }

  .saveBtn {
    width: 240px;
  }

  .btnBlock {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .select {
    button {
      height: 45px;
    }
  }

  .phoneInputContainer {
    height: 45px;
  }

  .phoneInputClass {
    height: 45px !important;
  }
}

@media screen and (min-width: 1550px) {
  .title {
    font-size: 22px;
  }
}
