.bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 5px;

  &.selected {
    box-shadow: var(--forms2_pink_shadow);
    background-image: linear-gradient(180deg, #924ee8 0%, #c630bb 100%);

    .btn {
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      font-weight: 600;
    }
  }
}

.btn {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 10px 40px 10px 50px;
  border-radius: 3px;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--forms2_shadow);
  cursor: pointer;
  text-align: start;
  font-size: 16px;
}

.img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;

  &.left {
    left: 0;
  }

  &.grey {
    filter: grayscale(1);
  }
}

.list_item {
  position: relative;
  cursor: pointer;
  align-items: flex-start;
  text-align: start;
  padding: 8px 0 8px 35px;

  &:hover {
    font-weight: 600;

    .img {
      filter: grayscale(0);
    }
  }
}
