.navigation {
  &_lt {
    height: 100vh;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    box-shadow: 4px 4px 10px rgba(213, 201, 236, 0.25), -4px -4px 10px #fefdff;

    &_pinned {
      width: 68px;
    }
  }
  &_dt {
    height: 100vh;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #2e273b;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px #000000;

    &_pinned {
      width: 68px;
    }
  }
}

.logo {
  margin: 14px 24px 60px 14px;
}

.img {
  &_lt {
    fill: #d9d0eb;
    margin-top: 23px;
    cursor: pointer;
  }

  &_dt {
    fill: #75707e;
    margin-top: 23px;
    cursor: pointer;
  }
}

.img_pinned {
  margin-top: 0;
  transform: rotate(-90deg);
  cursor: pointer;
}

.img_hovered {
  cursor: pointer;
  margin-top: 23px;
  display: none;
}

.item {
  position: relative;
  margin-bottom: 10px;
  border: none;

  &_lt {
    background: #fffdfe;
  }

  &_dt {
    background: #2e273b;
  }

  &:hover .img_lt,
  &:hover .img_dt {
    display: none;
  }
  &:hover .img_hovered {
    margin-top: 23px;
    display: block;
  }
}

.text {
  &_lt {
    color: #392955;
    font-size: 16px;
    line-height: 70.9%;
    margin-bottom: 21px;
    margin-top: 10px;
    text-align: center;
  }
  &_dt {
    color: #ffffff;
    font-size: 16px;
    line-height: 70.9%;
    margin-bottom: 21px;
    margin-top: 10px;
    text-align: center;
  }

  &_inactive {
    display: none;
  }
}

.active .img_lt,
.active .img_dt {
  display: none;
}

.active .img_hovered {
  display: block;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383245;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 98%;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    background: linear-gradient(to top, #e238d7, #ff59a9);
  }
}

.inactive {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: unset;
}

.pin_wrapper {
  & .img_dt,
  & .img_lt {
    margin-bottom: 68px;
  }

  &:hover .img_dt,
  &:hover .img_lt {
    display: none;
  }
  &:hover .img_hovered {
    display: block;
    margin-bottom: 68px;
  }
}
