input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 35%;
    margin-top: 15%;
  }
  
input[type=password] {
    width: 30%;
    border: 1px solid #ccc;
    padding: 14px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 35%;
    
  }
 
  
button {
    width: 120px;
    height: 40px;
    background-color: #45a049;
  }
.select {
   width: 120px;
   margin-top: 25px;
   margin-right: 10px;
   

}
.recaptcha {
    margin-top: 5%;
    margin-left: 25%;  
  }

.loader {
  margin-left: 40%;
  margin-top: 15%;
}
.login_link {
  margin-left: 35%;
  padding-right:10px ;
}
