.wrapper {
}

.page_title {
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
}

@media screen and (min-width: 768px) {
  .page_title {
    font-size: 22px;
    margin-bottom: 40px;
    padding-left: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .page_title {
    padding-left: 0px;
  }
}

@media screen and (min-width: 1550px) {
  .page_title {
    margin-bottom: 57px;
  }
}
