.container {
  padding-top: 16px;
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 32px;
  }
}

.backup_rotation_select {
  max-width: 260px;
}

.backup_rotation_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rotation_info {
  max-width: 300px;

  @media (min-width: 1024px) {
    max-width: unset;
  }
}
