.modal {
  background: var(--main-bgc);
  box-shadow: var(--forms2_shadow);
  border-radius: 3px;
  margin: 20px auto;
  width: 95%;
  max-height: 90vh;
  overflow-y: hidden;
  position: 'relative';
}

.form {
  padding: 20px 20px 20px 20px;
  margin-left: 2px;
  max-height: 50vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(161, 161, 161, 23%);
  }

  &::-webkit-scrollbar-thumb {
    background: #e72690;
  }
}

.header_block {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--modal_header_shadow);
}

.page_title {
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: var(--main-text);
}
.order_id {
  font-size: 14px;
  line-height: 130%;
  color: var(--main-text);
}

.icon_cross {
  cursor: pointer;
}

.status_wrapper {
  display: flex;
  margin-bottom: 20px;
}

.creation_date_wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.expiration_date_wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 800;
  font-size: 14px;
  line-height: 115%;
}

.value {
  font-weight: 400;
  font-size: 14px;
  line-height: 115%;
}

.main_title,
.additional_title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 130.5%;
  color: var(--main-text);
}

.select {
  margin-bottom: 12px;
}

.input_field_wrapper {
  margin-bottom: 12px;
  padding-bottom: 0;
}

.input {
  height: 50px;
}

.total_amount {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130.5%;
  color: var(--main-text);
}

.price {
  font-weight: 600;
  font-size: 18px;
  line-height: 130.5%;
  color: var(--main-text);
}

.order_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 130.5%;
  margin-bottom: 20px;
  color: var(--main-text);
}

.btns_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  padding: 14px;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--modal_footer_shadow);
}

.buy_btn {
  width: 230px;
  height: 55px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.cancel_btn {
  font-weight: 300;
  font-size: 18px;
  line-height: 130.5%;
  text-decoration: underline;
  color: var(--main-text);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 356px;
  }

  .form {
    padding: 20px 48px;
    max-height: 60vh;
  }

  .page_title {
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
  }

  .value {
    display: block;
    margin-left: 5px;
  }

  .additional_block {
    display: flex;
    justify-content: space-between;
  }
}
