@import '../../../scss/placeholders.scss';

.btn {
  @extend %btn;
  padding: 20px;
  border-width: 0;
  width: 100%;
  &.shadow {
    box-shadow: var(--buttons_shadow);
  }
}

.block {
  width: auto;
}
.small {
  max-width: 220px;
}
.medium {
  max-width: 230px;
}
.large {
  max-width: 310px;
}

.btn_text {
  @extend %btn-text;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .btn {
    padding: 20px;
  }

  .btn_text {
    font-size: 20px;
  }
}
