@import '@scss/placeholders.scss';

.btn {
  @extend %btn;
  padding: 10px 20px;
  border-width: 0;
  width: 100%;
  // font-size: 16px;

  &.shadow {
    box-shadow: var(--buttons_shadow);

    &:hover {
      box-shadow: var(--buttons_shadow_active);
    }
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.block {
  width: auto;
}
.small {
  max-width: 220px;
}
.medium {
  max-width: 230px;
}
.large {
  max-width: 310px;
}

.btn_text {
  @extend %btn-text;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin-top: 3px; // pay attention to this. No way
}

.loader {
  margin: 0;
  --size: 25px;
}
