.modal {
  max-width: 350px;
  background-color: var(--main-bgc);
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  max-width: 100%;
  color: var(--main-text);
}

.statusBlock {
  margin: 15px 0 10px 0;
  display: flex;
  flex-direction: column;
}

.statusItem {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  // justify-content: space-between;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  margin-right: 10px;

  color: var(--main-text);

  span:first-child {
    font-weight: 600;
  }

  span:last-child {
    margin-left: 0;
  }

  .status {
    color: rgb(247, 150, 73);

    &.active {
      color: var(--success-color);
    }

    &.disabled {
      color: var(--error-color);
    }
  }
}

.fieldsBlock {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.input {
  max-width: 100%;
  margin-top: 20px;
  margin-right: 0px;
  padding-bottom: 0;
}

.select {
  max-width: 100%;
  margin-top: 20px;
  margin-right: 0px;

  button {
    height: 47px;
  }

  &.dateSelect {
    width: 195px;
    margin-right: 20px;
  }
}

.searchBtn {
  height: 50px;
  max-width: 100%;
  font-size: 18px;
  text-transform: uppercase;
}

.clearFilters {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  margin-left: 0px;
  color: var(--main-text);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .statusItem {
    flex-direction: row;
    align-items: center;

    span:last-child {
      margin-left: 5px;
    }
  }

  .select {
    &.dateSelect {
      max-width: 220px;
      width: 220px;
      margin-right: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .select {
    &.dateSelect {
      max-width: 175px;
      width: 175px;
    }
  }
}

@media screen and (min-width: 1550px) {
  .select {
    &.dateSelect {
      max-width: 185px;
      width: 185px;
    }
  }
}
