.modalBg {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 149;
  overflow-y: auto;
}

.selectDropdownClass {
  z-index: 9 !important;
}

.modalBlock {
  background: var(--main-bgc);
  box-shadow: var(--forms2_shadow);
  border-radius: 3px;
  margin: 20px 30px;
  max-width: 640px;
}

.modalHeader {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--modal_header_shadow);
}

.form {
  padding: 0 14px;
  max-height: 60vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(161, 161, 161, 23%);
  }

  &::-webkit-scrollbar-thumb {
    background: #e72690;
  }
}

.crossIcon {
  fill: var(--main-text);
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
}

.formBlock {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.formBlockTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--main-text);
}

.formFieldsBlock {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 14px;
  column-gap: 20px;
}

.input {
  max-width: 100%;
  // margin-top: 13px;
}

.phoneInputLabel {
  margin: 0 0 5px 10px;
}

.select {
  max-width: 100%;
  // margin-top: 13px;

  span {
    font-size: 16px;
  }

  div {
    font-size: 16px;
  }
}

.phoneInput {
  width: 100%;
  max-width: 100%;
  margin: 13px 0 0 0;

  input {
    height: 46px !important;
    background-color: var(--elements-bgc) !important;
  }

  div {
    background-color: var(--elements-bgc) !important;
  }
}

.btnBlock {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--modal_footer_shadow);
}

.saveBtn {
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  height: 55px;
}

.cancel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  margin-top: 22px;
  color: var(--main-text);
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.countrySelectItem {
  display: flex;
  align-items: center;

  img {
    margin-right: 13px;
  }
}

.offerBlock {
  display: flex;
  align-items: center;
  margin-top: 13px;
  max-width: 270px;
}

.checkbox {
  margin-right: 10px;
}

.offerBlockText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--main-text);
}

.offerBlockLink {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
  text-align: start;
}

.nsInputBlock {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.infoBtn {
  position: absolute;
  margin-left: auto;
  top: 23px;
  right: 0px;
  z-index: 2;
  padding: 12px 12px 12px 0px;
  cursor: pointer;

  &:hover {
    svg {
      path {
        opacity: 1;
        fill: url(#gradient);
      }
    }
    .descriptionBlock {
      opacity: 1;
      height: auto;
      overflow: auto;
      padding: 15px;
    }
  }
}

.descriptionBlock {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  box-shadow: var(--burger-menu-elem-box-shadow);
  background-color: var(--forms_bgc_4);
  padding: 0;
  bottom: 100%;
  right: 0;
  width: 232px;
  z-index: 3;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130.5%;
  color: var(--main-text);
  text-align: start;
  transition: 0.05s linear;
  &::after {
    content: '';
    position: absolute;
    left: 89%;
    bottom: 99%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--forms_bgc_4);
    clear: both;
  }
}

.inputAddressWrapp {
  padding-right: 35px;
}

@media screen and (min-width: 768px) {
  .saveBtn {
    font-size: 20px;
  }

  .modalBg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .modalBlock {
    margin: 0 30px;
    width: 100%;
  }

  .modalHeader {
    padding: 14px 50px;
  }

  .form {
    padding: 0 50px;
    padding-bottom: 20px;
    max-height: 75vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .formBlock {
    margin-top: 25px;
  }

  .phoneInput {
    max-width: 48%;
    margin: 13px 20px 0 0;
  }

  .input {
    // max-width: 48%;
    // margin-right: 20px;

    &.inputAddress {
      max-width: 100%;
    }
  }

  // .select {
  //   max-width: 48%;
  //   margin-right: 20px;
  // }

  .btnBlock {
    flex-direction: row;
  }

  .saveBtn {
    width: 254px;
  }

  .cancel {
    margin-top: 0px;
    margin-left: 20px;
  }

  .formFieldsBlock {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1281px) {
  .infoBtn {
    top: 26px;
  }
}
