.wrapper {
  padding-top: 120px;
  display: flex;
  justify-content: center;
  overflow-y: auto;
  max-height: 100vh;
  background: var(--main-bgc);
  scrollbar-color: #e72690 rgba(161, 161, 161, 23%);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(161, 161, 161, 23%);
  }

  &::-webkit-scrollbar-thumb {
    background: #e72690;
  }
}
