.page_title {
  margin-bottom: 40px;
}
.title_count_services {
  font-size: 16px;
  color: var(--transparent-color);
  font-weight: 300;
}

.total_pagination_price {
  font-weight: 400;
  font-size: 18px;
  color: var(--main-text);
  margin-top: 25px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.tools_wrapper {
  display: flex;
  flex-direction: column-reverse;
  // align-items: center;
  // justify-content: space-between;
}

.btns_wrapper {
  display: flex;
  align-items: center;
}

.tools_container {
  display: flex;
  position: relative;
}

.check_box_wrapper {
  display: flex;
  margin-top: 25px;
}

.order_btn {
  font-weight: 800;
  font-size: 18px;
  line-height: 66.3%;
  width: 204px;
  height: 53px;
  margin-right: 10px;
}

.calendarBtn {
  &.filtered {
    svg {
      fill: url(#gradient);
    }
  }
}

.tools_icon {
  svg {
    min-width: 18px;
    max-width: 25px;
    min-height: 18px;
    max-height: 20px;
    fill: var(--icon-color_2);
  }
}

.filter_icon.tools_icon {
  max-height: 46px;
}

.bg {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 140;
  overflow-y: auto;
}

.tools_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 10px;

  height: fit-content;
  padding: 15px 35px 15px 30px;
  background-color: var(--elements-bgc);
  box-shadow: var(--menu_down_black_shadow);
}

.services_selected {
  font-size: 14px;
  margin-right: auto;
}
.total_price {
  font-size: 14px;
}

.tools_footer_value {
  font-weight: 600;
}

.buttons_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.main_checkbox {
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: 15px;
  font-size: 14px;
}

.check_box {
  box-shadow: var(--checkbox_shadow);
  background-color: var(--forms_bgc_4);
}

//Adaptive

@media screen and (min-width: 768px) {
  .order_btn {
    width: 245px;
    margin-right: 25px;
  }
  .bg {
    align-items: center;
  }
  .pagination {
    justify-content: flex-end;
    margin-top: 30px;
  }
  .buttons_wrapper {
    width: fit-content;
    order: 2;
  }

  .total_price {
    font-size: 16px;
    order: 3;
  }

  .tools_footer {
    flex-wrap: nowrap;
    column-gap: 30px;
    padding: 15px 65px 15px 60px;
  }
  .services_selected {
    font-size: 16px;
    order: 1;
  }
  .main_checkbox {
    font-size: 16px;
  }
  .check_box_wrapper {
    margin-top: 0px;
  }
  .tools_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and(min-width: 1024px) {
  .tools_footer {
    padding: 15px 65px 15px 200px;
  }
}

@media screen and (min-width: 1550px) {
  .tools_footer {
    padding: 15px 140px 15px 259px;
  }
}

@media screen and (min-width: 1600px) {
  .tools_wrapper {


    .check_box_wrapper {
      margin-left: 35px;
    }
  }

  .hint_wrapper {
    margin-right: 15px;
  }

  .filter_icon.tools_icon {
    margin-right: 35px;
  }
  .order_btn {
    width: 229px;
    font-size: 20px;
  }
}

@media screen and (min-width: 1918px) {
  .tools_footer {
    padding: 15px 160px 20px 290px;
  }
}
