.copy_btn {
  position: relative;
  width: 15px;
  height: 16px;
  vertical-align: middle;
  &:hover {
    & .copy_icon {
      fill: url(#gradient);
    }
  }
}

.copy_icon {
  width: 100%;
  height: auto;
  fill: var(--inactive_icon_color);
}

.copy_prompt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  bottom: 200%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 214px;
  padding: 5px 10px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: var(--forms3_shadow);
  background-color: var(--forms_bgc_1);
}

.prompt_pointer {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0) rotate(180deg);
  border: 10px solid transparent;
  border-bottom-color: var(--forms_bgc_1);
}
