.modalBg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 149;
  overflow-y: auto;
}

.modalBlock {
  background: var(--main-bgc);
  box-shadow: var(--forms2_shadow);
  border-radius: 3px;
  padding: 21px 21px;
  margin: 20px 10px;
  max-width: 990px;
  width: 100%;
}

.modalHeader {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.crossIcon {
  fill: var(--main-text);
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

.headerText {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  max-width: 90%;
  color: var(--main-text);
}

.whoisBlock {
  background: var(forms_bgc_4);
  box-shadow: var(--forms_shadow);
  padding: 20px 43px;
  margin: 30px 0;

  max-height: 414px;
  overflow-y: auto;
  overflow-x: hidden;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;

  color: var(--main-text);

  white-space: pre-line;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(161, 161, 161, 23%);
  }

  &::-webkit-scrollbar-thumb {
    background: #e72690;
  }
}

@media screen and (min-width: 768px) {
  .modalBg {
    align-items: center;
    height: 100vh;
  }

  .modalBlock {
    padding: 38px 50px;
    margin: 0 30px;
  }
}
