.burger {
  position: fixed;
  background-color: #4d4758;
}

.burger_nav {
  display: flex;
  padding: 20px 23px;
}

.theme_btn_wrapper {
  margin-right: 15px;
}

.list_item {
  &:hover {
    .icon {
      fill: url(#gradient);
    }
    .arrow_icon {
      stroke: url(#gradient);
    }
  }
  cursor: pointer;
}

.exit_list_item {
  &:hover {
    .icon {
      fill: url(#gradient);
    }
  }
}

.icon {
  fill: var(--icon-color);
  margin-right: 18px;
  margin-left: 25px;
  cursor: pointer;

  &.active {
    fill: url(#gradient);
  }
}

.arrow_icon {
  margin-left: auto;
  margin-right: 26px;
  stroke: #fff;
  transition: transform 0.5s;

  &.closed {
    transform: rotateZ(-180deg);
  }
}

.balance_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 14px;
  margin-top: 14px;
  background-color: var(--burger-menu-bgc);
}

.balance_wrapper_lt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 14px 29px 23px;
  box-shadow: var(--elements-shadow);
  border-radius: 5px;
  background-color: var(--burger-menu-bgc);
}

.balance_text {
  padding-top: 17px;
  padding-bottom: 17px;
  color: var(--main-text);
  font-size: 17px;
  line-height: 70.9%;
}

.balance_sum {
  font-size: 17px;
  line-height: 70.9%;
  text-decoration-line: underline;
  color: var(--link-color);
}

.exit_wrapper {
  display: flex;
  align-items: center;
  padding-top: 25px;
  margin-top: 25px;
}

.exit_name {
  font-size: 18px;
  line-height: 70.9%;
  color: var(--main-text);
}

.exit_list_item {
  position: relative;

  &::before {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    left: 23px;
    right: 29px;
    border-radius: 5px;
    background: #4d4758;
  }
}
