.body {
  display: flex;
  width: 100%;
}
.content {
  width: 100%;
}

.pageTitle {
  color: var(--main-text);
  font-size: 22px;
  line-height: 1.2;
}

.noResults {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 113%;
  color: var(--transparent-color);
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 31px;
}

.pagination_item {
  background: var(--forms_bgc_1)!important;
  box-shadow: var(--forms3_shadow)!important;
}

// ADAPTIVE

@media screen and (max-width: 1077px) {
  .pageTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 871px) {
  .pageTitle {
    font-size: 22px;
  }

  .pagination {
    margin-top: 25px;
  }
}

@media screen and (max-width: 752px) {
  .pagination {
    justify-content: center;
    margin-top: 20px;
  }

  .pageTitle {
    font-size: 20px;
  }
}
