.body {
  display: flex;
  width: 100%;
}
.content {
  padding: 50px 60px 40px 100px;
  width: 100%;
  max-width: 1384px;
}

.pageTitle {
  color: var(--main-text);
  font-size: 22px;
  line-height: 1.2;
}

.noResults {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 113%;
  color: var(--transparent-color);
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 31px;
}

// ADAPTIVE
@media screen and (max-width: 1191px) {
  .content {
    padding: 50px 30px 63px 30px;
  }
}

@media screen and (max-width: 1077px) {
  .pageTitle {
    font-size: 20px;
  }
}

@media screen and (max-width: 871px) {
  .pageTitle {
    font-size: 22px;
  }

  .content {
    padding: 0px 0px 63px;
  }

  .pagination {
    margin-top: 25px;
  }
}

@media screen and (max-width: 752px) {
  .content {
    padding: 40px 0 71px;
  }

  .pagination {
    justify-content: center;
    margin-top: 20px;
  }

  .pageTitle {
    font-size: 20px;
  }
}
