.body {
  width: 100%;
}
.content {
  width: 100%;
  max-width: 1172px;
}

.pageTitle {
  color: var(--main-text);
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 34px;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.noResults {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 113%;
  color: var(--transparent-color);

  width: 100%;
  height: 45vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.addBtn {
  height: 55px;
  max-width: 255px;
  font-size: 18px;
  text-transform: uppercase;
}

@media screen and (max-width: 752px) {
  .pageTitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .pagination {
    justify-content: flex-end;
    margin-top: 30px;
  }
  .addBtn {
    font-size: 20px;
  }
}

@media screen and (max-width: 871px) {
  .pageTitle {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  .pagination {
    margin-top: 25px;
  }
}

@media screen and (max-width: 1077px) {
  .pageTitle {
    font-size: 20px;
  }
}

@media screen and (min-width: 1550px) {
  .pagination {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1918px) {
  .pagination {
    margin-top: 40px;
  }
}
