.wrapper {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  padding: 12px;
  max-width: fit-content;
  color: var(--red-text);
  font-weight: 400;
  font-size: 16px;
  background: var(--forms_bgc_3);
  box-shadow: var(--forms2_shadow);
  border-radius: 3px;
  cursor: pointer;
  text-align: start;
  margin-bottom: 25px;

  &.wrapper_exception {
    cursor: auto;
  }
}

.icon {
  flex: none;
}

.link {
  color: var(--link-color);
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .wrapper {
    align-items: center;
  }
}
