@import '@scss/placeholders.scss';

.field_wrapper {
  width: 100%;
  position: relative;
}

.label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  margin-left: 10px;
  margin-bottom: 10px;
}

.label__tooltip {
  margin-left: 5px;
  display: inline-block;
  cursor: pointer;
  svg {
    vertical-align: middle;
  }
}

.hint {
  max-width: 300px;
}

.input_wrapper {
  width: 100%;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  z-index: 1;
  background-color: var(--elements-bgc);
  // border: 1px solid var(--input-border-icon);

  // &.shadow {
  //   // border: none;
  //   // box-shadow: var(--forms_shadow);
  // }

  &.focused {
    box-shadow: none;
    // border: none;
    background: linear-gradient(90.07deg, #ff42a8 0.87%, #f02ce2 99.95%);
  }
}

.required_star {
  color: #d93f21;
  font-size: 16px;
  line-height: 1;
}

.input {
  @extend %input;
  height: 100%;
  min-width: 100%;

  &::placeholder {
    color: var(--transparent-color);
  }

  &.inputAuth {
    &::placeholder {
      color: var(--auth-placeholder-color);
    }
  }

  &:focus {
    height: calc(100% - 2px);
    min-width: calc(100% - 2px);
    border: none;
    top: 1px;
    left: 1px;

    ~ .field_icon_left {
      fill: var(--main-text);
    }
  }
  &.iconRight {
    padding-right: 40px;
    &.icon_generate {
      padding-right: 65px;
    }
  }
  &.disabled {
    opacity: 1;
    -webkit-text-fill-color: var(--transparent-color);
    color: var(--transparent-color);
  }
  &.number {
    @extend %input_type_number;
  }
}

.field_icon_left {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: 2;
  pointer-events: none;
  fill: var(--input-border-icon);
}

.field_icon_right {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  z-index: 2;
  // pointer-events: none;
  fill: var(--input-border-icon);

  &.plusIcon {
    z-index: 9;
    cursor: pointer;

    &:hover {
      fill: url(#gradient);
    }
  }
}

.pass_show_btn,
.generate_pass_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 60%;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.generate_pass_btn {
  right: 40px;
}

.icon_eye {
  fill: var(--eye-color);
}

.error_message {
  margin-left: 2px;
  color: var(--error-color);
  font-size: 12px;
  line-height: 1.2;
}

.shadow {
  border: none;
  box-shadow: var(--forms_shadow_site);
  -webkit-appearance: none; // check if box-shadow will be shown on safari!
}

.field_bgc {
  background-color: var(--nearby-elements-bgc);
}

.infoBtn {
  position: absolute;
  margin-left: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  z-index: 2;
  padding: 12px 12px 12px 0px;
  cursor: pointer;
  svg {
    vertical-align: middle;
  }
  &:hover {
    svg {
      path {
        opacity: 1;
        fill: url(#gradient);
      }
    }
    + .infoText {
      opacity: 1;
      height: auto;
      overflow: auto;
      padding: 15px;
    }
  }
}

.infoText {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  box-shadow: var(--burger-menu-elem-box-shadow);
  background-color: var(--forms_bgc_4);
  padding: 0;
  bottom: 100%;
  right: 0;
  width: 100%;
  z-index: 3;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130.5%;
  color: var(--main-text);
  text-align: start;
  transition: 0.05s linear;
  text-wrap: balance;

  &::after {
    content: '';
    position: absolute;
    left: 89%;
    bottom: 99%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--forms_bgc_4);
    clear: both;
  }
}

// ADAPTIVE
@media screen and (min-width: 768px) {
  .input {
    &.iconLeft {
      padding-left: 36px;
    }
    &.iconRight {
      padding-right: 36px;
    }
  }
}

@media screen and (max-width: 767px) {
  .field_wrapper {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 1281px) {
  .input_wrapper {
    height: 50px;
  }
}

input[type='time']::-webkit-calendar-picker-indicator {
  background-color: #decbfe;
  color: (--main-text);
  border-radius: 50%;
}
