.swiper_services_list {
  display: flex;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 158px;
}

.swiper-wrapper {
  width: 100%;
  padding-bottom: 55px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 237px;
  height: 289px;
  margin-right: 15px;
}

.swiper-pagination.swiper-pagination-bullets {
  left: calc(50%);
  transform: translate(-50%);
  width: 150px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: var(--carousel-dots-elements-bgc);
  opacity: 1;

  &.swiper-pagination-bullet-active {
    background: var(--accent-gradient);
  }
}

.swiper-wrapper {
  & .swiper-slide:nth-child(1) {
  margin-left: 30px;
  }
}

.swiper-slide {
  opacity: 1;
  transition: opacity 0.1s ease;


  // & li {
  //   opacity: 0.4;
  //   visibility: visible;
  // }


    & li {
      opacity: 1;
      & h3 {
        font-weight: 700;
        font-size: 25px;
        line-height: 113%;
        background: var(--accent-text-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      & span {
        color: var(--main-text);
      }
    }


}

.notInViewport {
  opacity: .25;
}


@media screen and (min-width: 768px) {
  .swiper_services_list {
    position: static;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 35px;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .swiper_services_list {
    justify-content: start;
  }
}

@media screen and (min-width: 1200px) {
  .swiper_services_list {
    grid-template-columns: repeat(3, max-content);
    gap: 39px;
  }
}

@media screen and (min-width: 1400px) {
  .swiper_services_list {
    grid-template-columns: repeat(3, max-content);
    gap: 32px;
  }
}

@media screen and (min-width: 1550px) {
  .swiper_services_list {
    grid-template-columns: repeat(3, max-content);
    gap: 40px;
  }
}
