.form {
  width: 261px;
  background-color: var(--main-bgc);
  padding: 14px 15px 30px 15px;
  overflow-y: auto;
  max-height: 500px;
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--accent-gradient);
    border-radius: 5px;
  }
}

.title_wrapper {
  display: flex;
  flex-direction: column;
}

.header_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.page_title {
  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: var(--main-text);
}

.first_row,
.second_row {
  display: flex;
  justify-content: space-between;
}

.first_row {
  margin-bottom: 10px;
}
.second_row {
  margin-bottom: 20px;
}

.label,
.value {
  font-size: 14px;
  line-height: 120%;
  color: var(--main-text);
}

.value {
  &.green {
    color: var(--success-color);
  }
  &.red {
    color: var(--red-color);
  }
}

.icon_cross {
  cursor: pointer;
  flex: none;
}

.tarif_name {
  font-size: 14px;
  line-height: 130%;
  color: var(--transparent-color);
}

.select {
  margin-bottom: 12px;
}

.input_field_wrapper {
  margin-bottom: 12px;
}

.input {
  height: 50px;
}

.btns_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buy_btn {
  width: 230px;
  height: 55px;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 23px;
}

.cancel_btn {
  font-weight: 300;
  font-size: 18px;
  line-height: 130.5%;
  text-decoration: underline;
  color: var(--main-text);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form {
    width: 355px;
    padding: 25px 51px 32px 51px;
  }

  .header_block {
    margin-bottom: 16px;
  }

  .page_title {
    font-size: 20px;
    display: inline-block;
    margin-right: 10px;
  }

  .input_field_wrapper,
  .select {
    min-width: 254px;
    max-width: 254px;
    padding-bottom: 0px;
  }

  .buy_btn {
    width: 254px;
  }
}
