.loader {
  --delayRange: 0.32s;
  --size: 50px;
  display: flex;
  justify-content: space-between;
  width: calc(var(--size) * 1.2);
  margin: 30px auto 0;
  text-align: center;
}

.loader_circle {
  width: calc(var(--size) / 4);
  height: calc(var(--size) / 4);
  background-color: #ff50bf;
  border-radius: 100%;
  display: inline-block;
  animation: three-bounce 1.4s ease-in-out 0s infinite both;

  &.first {
    animation-delay: var(--delayRange);
  }

  &.second {
    animation-delay: calc(var(--delayRange) / 2);
  }
}

@keyframes three-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
