.page_wrapper {
  position: relative;
}

.page_title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 113%;
  color: var(--main-text);
}

.form {
  padding-bottom: 75px;
}

.select {
  max-width: 252px;
  width: 100%;
  margin-top: 10px;
}

.input {
  width: 100%;
  max-width: 252px;
  margin-top: 10px;
}

.paymentWrapper {
  margin-top: 30px;
}

.cardContainer {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.parametrsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
  margin-bottom: 30px;
}

.useFirstCheck {
  display: flex;
  align-items: center;
  margin-top: 25px;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 70.9%;
    color: var(--main-text);
    margin-left: 18px;
  }
}

.agreeTerms {
  button {
    margin-top: 5px;
    font-style: normal;
    text-align: start;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-decoration: underline;
    color: var(--link-color);
    cursor: pointer;

    &:active {
      transform: scale(0.95);
    }
  }
}

.paymentBlock {
  z-index: 7;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  left: 0;
  padding: 15px 30px;
  width: 100%;
  bottom: 0;
  // background: var(--forms_bgc_2);
  background: var(--elements-bgc);
  box-shadow: var(--menu_down_black_shadow);

  .buy_btn {
    height: 55px;
  }

  .amountPayBlock {
    display: flex;
    flex-direction: column;

    span:first-child {
      display: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      color: var(--main-text);
    }

    span:last-child {
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 100%;
      background: linear-gradient(270deg, #ff42a8 0%, #e030bd 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }
}

// .inputsBlock {
//   display: flex;
//   align-items: center;
//   flex-wrap: wrap;
//   max-width: 530px;
// }

@media screen and (min-width: 768px) {
  .select {
    max-width: 235px;
    margin-right: 15px;
  }

  .input {
    max-width: 235px;
    margin-right: 15px;
  }
  .form {
    padding-bottom: 0px;
  }

  // .page_wrapper {
  //   padding-bottom: 50px;
  // }

  .paymentBlock {
    flex-direction: row;
    height: 85px;
    padding: 15px 60px;

    .amountPayBlock {
      span:first-child {
        display: block;
      }
      span:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .cardContainer {
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .paymentBlock {
    padding: 15px 60px 15px 200px;
  }
  .form {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1550px) {
  .paymentBlock {
    padding: 15px 140px 15px 260px;
  }
  .form {
    padding-bottom: 0px;
  }
}

@media screen and (min-width: 1918px) {
  .paymentBlock {
    height: 90px;
    padding: 15px 155px 15px 290px;
  }
  .form {
    padding-bottom: 80px;
  }
}
