.alert_wrapper {
  position: fixed;
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  &.opened {
    display: block;
    z-index: 150;
    opacity: 1;
  }
}

.alert {
  position: fixed;
  right: 10%;
  left: 10%;
  z-index: 100;
  // padding: 0px 0px 0px 8px;
  background-color: var(--elements-bgc);
  border-radius: 3px;
  margin-top: 107px;
  margin-bottom: 37px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    background-image: var(--forms2-border-gradient);
  }

  &.scrolled {
    &::after {
      background-image: unset;
    }
  }
}

.title_wrapper {
  background-color: var(--elements-bgc);
  right: 22px;
  left: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding-top: 25px;
  padding-bottom: 17px;
  z-index: 5;
  transition: top 0.3s ease;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 130.5%;
  color: var(--main-text);
}

.text_wrapper {
  margin-top: 63px;
  max-height: 70vh;
  overflow: scroll;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--accent-gradient);
    border-radius: 5px;
  }
}

.list_one,
.list_two {
  height: fit-content;
  margin-right: 7px;
  margin-left: 7px;
}

.alert_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-text);
  margin-bottom: 25px;
  margin-top: 25px;
}

.control_btns_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel_btn {
  margin-top: 14px;
  font-weight: 400;
  font-size: 18px;
  line-height: 130.5%;
  color: var(--main-text);
  text-decoration: underline;
  cursor: pointer;
}

.close_btn_wrapper {
  display: flex;
  align-items: center;
}

.close_btn {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    top: 0px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: var(--main-text);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::after,
    &::before {
      background: var(--accent-gradient);
    }
  }
}

// ADAPTIVE
@media screen and (min-width: 768px) {
  .alert {
    max-height: 85vh;
    margin-bottom: 80px;
    left: 50%;
    transform: translate(-50%);
    width: 647px;
    margin-top: 109px;
  }

  .list_one {
    margin-left: 46px;
    width: 228px;
  }
  .list_two {
    margin-left: 0;
    margin-right: 46px;
    width: 228px;
  }

  .title {
    font-size: 20px;
    line-height: 113%;
  }

  .title_wrapper {
    right: 60px;
    left: 60px;
    padding-top: 36px;
    padding-bottom: 30px;
  }
  .text_wrapper {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
  }

  .close_btn {
    width: 20px;
    height: 20px;
    font-weight: 600;

    &:before,
    &:after {
      height: 20px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .alert {
    max-height: 80vh;
    width: 619px;
    margin-top: 115px;
    left: calc(50% + 117px / 2);
    transform: translate(-50%);
  }

  .list_one {
    margin-left: 53px;
    width: 226px;
  }
  .list_two {
    margin-right: 53px;
    width: 226px;
  }

  .title_wrapper {
    padding-top: 36px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .alert {
    left: 50%;
    width: 789px;
    margin-top: 150px;
  }

  .list_one {
    width: 329px;
  }
  .list_two {
    width: 329px;
  }

  .title_wrapper {
    left: 67px;
    right: 67px;
  }
}
