@import '../../../scss/placeholders.scss';

.form_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 150;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  transition: opacity 0.1s ease-in;
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

.form_title_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.title_wrapper {
  margin-top: 9px;
  color: #b3a9c1;
}

.form_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
}

.form {
  z-index: 150;
  border-radius: 5px;
  background-color: var(--elements-bgc);
  padding: 18px;
  margin-top: 125px;
  margin-bottom: 125px;
  width: 100%;
  transform: scale(0.5);
  transition: transform 0.2s ease-out;

  &.active {
    transform: scale(1);
  }
}

.field_input {
  margin-bottom: 14px;
}

.required_star {
  color: #d93f21;
  font-size: 20px;
}

.submit_btn.btn {
  margin-top: 20px;
  padding-bottom: 22px;
  padding-top: 22px;
}

.close_btn_wrapper {
  position: relative;
}

.close_btn {
  width: 22px;
  height: 22px;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: var(--main-text);
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::after,
    &::before {
      background: var(--accent-gradient);
    }
  }
}

// lang

.lang_container {
  height: 50px;
  position: relative;
}

.lang_btn {
  &.extra_style {
    background-color: var(--nearby-elements-bgc);
    border: none;

    &:hover > div {
      background-color: var(--elements-bgc);
    }
  }
}

.field_input.lang {
  width: 100%;
  border: none;
  box-shadow: var(--forms_shadow);
  height: 50px;
  background-color: var(--nearby-elements-bgc);

  @extend %input;
  position: static;
  padding-left: 40px;
}

.drop_down {
  &.list {
    background-color: var(--icon-color);
  }

  &.list {
    &.list_hover {
      width: 200px;
      &::-webkit-scrollbar {
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: rgb(36, 57, 95);
        border-radius: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background: var(--accent-gradient);
        border-radius: 5px;
      }

      & li:hover {
        background-color: var(--elements-bgc);
      }

      & span:last-child {
        color: var(--main-text);
      }
    }
  }
}

// .drop_down.list.list_hover li {
//   &:hover {
//     background-color: red;
//   }
// }

.drop_search {
  &:hover {
    background-color: red;
  }
}

// ADAPTIVE
@media screen and (min-width: 460px) {
  .form {
    width: 400px;
    padding: 29px 78px 31px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 473px;
    padding: 29px 78px 31px;
  }

  .form_title_wrapper {
    margin-bottom: 25px;
  }

  .submit_btn.btn {
    margin-top: 25px;
    padding-bottom: 21px;
    padding-top: 21px;
  }
}
