.section_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
  margin-bottom: 25px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 113%;
  color: var(--main-text);
  margin-bottom: 15px;
}

.show_more_btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  text-decoration-line: underline;
  color: var(--main-text);
  margin-bottom: 30px;
  cursor: pointer;
}

.add_btn {
  margin-bottom: 40px;
}

.table_header {
  display: grid;
  grid-template-columns: repeat(5, 130px);
  column-gap: 28px;
  margin-bottom: 15px;
}
.user_email_lg {
  padding-left: 27px;
}

.user_name_lg {
  // padding-left: 15px;
}

.table_wrapper {
  display: none;
}

// ADAPTIVE
@media screen and (min-width: 768px) {
  .subtitle {
    font-weight: 300;
    line-height: 130%;
    margin-bottom: 25px;
  }
  .show_more_btn {
    display: none;
  }
  .add_btn {
    width: 260px;
  }
  .table_wrapper {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .section_title {
    margin-bottom: 30px;
  }
  .subtitle {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1550px) {
  .section_title {
    font-size: 22px;
  }
  .add_btn {
    margin-bottom: 50px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 130.5%;
  }
  .table_header {
    grid-template-columns: repeat(5, 190px);
  }
}
