.section_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
  margin-bottom: 25px;
}

.subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 113%;
  color: var(--main-text);
  margin-bottom: 15px;
}

.subtitle_wrapper {
  position: relative;
  height: 80px;
  overflow: hidden;
  transition: height 0.15s;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background-image: linear-gradient(
      0deg,
      var(--main-bgc) 30%,
      rgba(0, 0, 0, 0.001) 100%
    );
  }
}

.show_more_btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 115%;
  text-decoration-line: underline;
  color: var(--main-text);
  margin-bottom: 30px;
  cursor: pointer;
}

.add_btn {
  height: 50px;
  margin-bottom: 40px;
}

.users_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  margin-bottom: 25px;
  color: var(--main-text);
}

.table_header {
  display: grid;
  grid-template-columns: repeat(5, 130px);
  column-gap: 28px;
  margin-bottom: 15px;
}
.user_email_lg {
  padding-left: 27px;
}

.user_name_lg {
  // padding-left: 15px;
}

.table_wrapper {
  display: none;
}

// ADAPTIVE
@media screen and (min-width: 768px) {
  .subtitle {
    font-weight: 300;
    line-height: 130%;
    margin-bottom: 25px;
  }
  .show_more_btn {
    display: none;
  }
  .add_btn {
    width: 260px;
  }
  .table_wrapper {
    display: block;
  }
  .subtitle_wrapper::after {
    height: unset;
    content: none;
  }
  .subtitle_wrapper {
    margin-bottom: 25px;
  }
  .users_title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .table_header {
    grid-template-columns: repeat(5, 150px);
    justify-content: space-between;
  }
  .section_title {
    margin-bottom: 30px;
  }
  .subtitle {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1550px) {
  .section_title {
    font-size: 22px;
  }
  .add_btn {
    margin-bottom: 50px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 130.5%;
  }
  .table_header {
    grid-template-columns: repeat(5, 190px);
  }
}
