.icon {
  fill: var(--icon-color);
  cursor: pointer;
  transform: scale(1.8);
  background-color: var(--main-bgc);
}

.iconBlock {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalBlock {
  position: relative;
}

.avatarBlock {
  max-width: 130px;
  position: absolute;
  top: -75px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.downloadText {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 130%;
  text-decoration-line: underline;
  color: var(--link-text);
  margin: 11px 0;
  cursor: pointer;
}

.downloadParams {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.9%;
  text-align: center;
  color: var(--transparent-color);
}

.settingsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 113%;
  color: var(--main-text);
  margin-bottom: 10px;
}

.formRow {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  margin-top: 15px;
}

.phoneInput {
  width: 100%;
  margin-bottom: 0;
  margin-right: 36px;
}

.emailInput {
  margin-right: 36px;
}

.phoneInputLabel {
  margin: 0 0 5px 10px;
}

.required_star {
  color: #d93f21;
  font-size: 14px;
}

.topBlock {
  margin-bottom: 40px;
}

.telegramBlock {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-text);
  margin: 25px 0;
}

.telegramLink {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  text-decoration-line: underline;
  color: var(--link-text);
  cursor: pointer;
}

.checkTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 0;
  border-bottom: 1px solid #e8e2f3;
}

.checkRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 0;
}

.notifName {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 130.5%;
  color: var(--main-text);
  flex-basis: 43%;
}

.checkBlock {
  max-width: 500px;
}

.rowMessages {
  margin-bottom: 30px;
}

.notifTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130.5%;
  color: var(--main-text);
  flex-basis: 43%;
}

.column {
  flex-basis: 19%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-text);
}

.select {
  z-index: 8;
  button {
    height: 50px;
  }
}

.saveBtn {
  margin-top: 35px;
}

.cancel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  margin-left: 20px;
  color: var(--main-text);
  cursor: pointer;
}

.saveBtn {
  width: 240px;
  max-width: 100%;
  text-transform: uppercase;
  height: 55px;
}

.img {
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 100px;
}
