.icon {
  fill: var(--icon-color);
  cursor: pointer;
  transform: scale(1);
  background-color: var(--main-bgc);
}

.iconBlock {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalBlock {
  position: relative;

  .field {
    height: 50px;

    input {
      &::placeholder {
        font-size: 18px;
      }
    }

    input {
      font-size: 18px;
    }

    &_bg {
      background-color: var(--forms_bgc_1) !important;
      box-shadow: var(--forms3_shadow) !important;
    }

    @media (min-width: 1280px) {
      height: 55px;
    }
  }
}

.input {
  margin-top: 15px;
}

.avatarBlock {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-top: 25px;
}

.infoBtn {
  position: absolute;
  margin-left: auto;
  top: 40%;
  right: 0px;
  z-index: 2;
  padding: 12px 12px 12px 0px;
  cursor: pointer;

  &:hover {
    svg {
      path {
        opacity: 1;
        fill: url(#gradient);
      }
    }
    .descriptionBlock {
      opacity: 1;
      height: auto;
      overflow: auto;
      padding: 15px;
    }
  }
}

.descriptionBlock {
  position: absolute;
  opacity: 0;
  height: 0;
  overflow: hidden;
  box-shadow: var(--burger-menu-elem-box-shadow);
  background-color: var(--forms_bgc_4);
  padding: 0;
  top: 90%;
  right: 0;
  width: 300px;
  z-index: 3;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130.5%;
  color: var(--main-text);
  text-align: start;
  transition: 0.05s linear;
  &::after {
    content: '';
    position: absolute;
    left: 89%;
    bottom: 99%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--forms_bgc_4);
    clear: both;
  }
}

.downloadText {
  text-align: start;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  text-decoration-line: underline;
  color: var(--link-text);
  cursor: pointer;
}

.downloadParams {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 113.9%;
  text-align: start;
  color: var(--transparent-color);
  max-width: 132px;
  margin-top: 5px;
}

.downloadBlockText {
  margin-left: 20px;
}

.settingsTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 113%;
  color: var(--main-text);
  margin-bottom: 25px;
}

.formRow {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin-top: 15px;
}

.phoneInput {
  width: 100%;
}

.phoneInputVerif {
  width: 100%;
}

.phoneBlock {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  margin-right: 0px;
}

.phoneInputButton {
  background-color: transparent !important;
}

.emailInput {
  margin-right: 0px;
}

.required_star {
  color: #d93f21;
  font-size: 14px;
}

.topBlock {
  margin-bottom: 30px;

  @media (min-width: 1280px) {
    margin-bottom: 44px;
  }
}

.telegramBlock {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-text);
  margin: 25px 0;
}

.telegramLink {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  text-decoration-line: underline;
  color: var(--link-text);
  cursor: pointer;
}

.checkTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 0;
  border-bottom: none;
  .column {
    display: none;
  }
}

.checkBlock {
  max-width: 100%;
}

.rowMessages {
  margin-bottom: 30px;
  flex-direction: column;
}

.notifTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 130.5%;
  color: var(--main-text);
  flex-basis: 100%;
}

.columnBlock {
  flex-basis: 57%;
  display: flex;
}

.column {
  flex-basis: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-text);
}

.select {
  z-index: 8;
  button {
    height: 55px;
  }
  span {
    font-size: 18px;
  }
}

.phoneInputContainer {
  position: relative;
}

.phoneInputClass {
  height: 100% !important;
}

.cancel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  margin-top: 22px;
  color: var(--main-text);
  cursor: pointer;
}

.saveBtn {
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  height: 55px;
  display: none;

  &.shown {
    display: block;
  }
}

.confirmBtn {
  margin: 13px 0 13px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.5%;
  text-decoration-line: underline;
  color: var(--link-text);
  cursor: pointer;
}

.img {
  width: 56px;
  height: 56px;
  cursor: pointer;
  border-radius: 100px;
}

.btnBlock {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.securNotification {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  max-width: 520px;

  .securNotifnEmailBlock {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .securNotifnGeoBlock {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 0px;
  }

  .securNotifText {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 130.5%;
    color: var(--main-text);
    margin-right: 15px;
    min-width: 215px;
  }
}

.emailBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listTelegram {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.5%;
  color: var(--main-text);
  margin-top: 15px;
}

.phoneVerificationLink {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 8px;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 130.5%;

    color: var(--link-text);

    border-bottom: 1px solid var(--link-text);
  }
}

.geoIpBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  svg {
    &:hover {
      path {
        opacity: 1;
        fill: url(#gradient);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .geoIpBlock {
    margin-right: 0;
  }

  .notifEmail {
    max-width: 322px;
  }

  .emailBlock {
    flex-direction: row;
    align-items: center;
  }

  .cancel {
    margin-top: 0px;
    margin-left: 20px;
  }

  .saveBtn {
    width: 240px;
  }

  .btnBlock {
    flex-direction: row;
  }

  .emailInput {
    margin-right: 25px;
  }

  .phoneInput {
    margin-right: 25px;
  }

  .phoneBlock {
    margin-right: 25px;
    width: 48%;
  }

  .checkBlock {
    max-width: 430px;
  }

  .formRow {
    flex-direction: row;
  }

  .rowMessages {
    flex-direction: column;
  }

  .input {
    margin-top: 0px;
  }

  .settingsTitle {
    font-size: 20px;
  }

  .checkTitle {
    border-bottom: 1px solid #e8e2f3;
    margin-bottom: 8px;
    .column {
      display: flex;
    }
  }

  .notifTitle {
    flex-basis: 43%;
  }

  .securNotification {
    .securNotifText {
      min-width: 230px;
      font-size: 17px;
    }
  }

  .confirmBtn {
    margin: 20px 0 0 0;
  }
}

.emailStatus {
  font-style: normal;

  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: var(--main-text);
  margin: 11px 0 0 0;
  p {
    margin: 5px 0;
  }
  .emailError {
    color: var(--error-color);
  }
  .emailSucces {
    color: var(--success-color);
  }
  .topBlock {
    margin-bottom: 40px;
  }
}

.hintWrapper {
  max-width: 237px;
  width: 237px;
  word-wrap: break-word;
  white-space: pre-line;
}

.hintWrapperGeo {
  height: 18px;
}

.hintPopUpWrapperGeoIp {
  max-width: 300px;
  width: 300px;
  word-wrap: break-word;
  white-space: pre-line;
  text-align: start;
}

@media screen and (min-width: 1124px) {
  .avatarBlock {
    max-width: 130px;
    position: absolute;
    top: -75px;
    right: 0;
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .downloadText {
    text-align: center;
    font-size: 18px;
    line-height: 130%;
    margin: 11px 0;
    cursor: pointer;
  }

  .downloadParams {
    text-align: center;
    margin-top: 0px;
  }

  .downloadBlockText {
    margin-left: 0px;
  }
}

@media screen and (max-width: 1280px) {
  .select {
    button {
      height: 50px;
    }
  }
}
