.server_item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 15px 15px 65px;
  border-radius: 3px;
  background: var(--forms_bgc_3);
  box-shadow: var(--forms_shadow);

  &:last-child {
    margin-bottom: 0px;
  }
}

.control_bts_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.shevron_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50px;
  border-top: 1px solid var(--inactive_icon_color);
  cursor: pointer;
}

.shevron {
  stroke: var(--main-text);
  transition: transform 150ms;
  transform: rotateZ(180deg);

  &.opened {
    transform: rotateZ(360deg);
  }
}

.tariff_name {
  font-size: 16px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.countItem {
  // position: absolute;
  // right: 10px;
  padding: 5px 5px;
  background-color: rgba(174, 156, 205, 0.15);
  border-radius: 3px;
  min-width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 18px;
  color: var(--main-text);
  // margin-left: 20px;
}

.btn_delete {
  // position: absolute;
  // top: 15px;
  // right: 15px;
  cursor: pointer;
}

.percent {
  font-size: 16px;
  color: var(--red-text);
}

.discount_wrapper {
  margin-bottom: 10px;
}

.old_price {
  font-size: 16px;
  color: var(--transparent-color);
  text-decoration: line-through;
}

.price {
  font-weight: 600;
  font-size: 18px;
}

.dropdown {
  height: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  font-size: 14px;
  transition: height 150ms;
  overflow: hidden;
}

.value {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .server_item {
    min-height: 60px;
    padding: 10px 30px 10px 40px;
  }

  .main_info_wrapper {
    display: grid;
    grid-template-columns: 40px 65px 130px 205px 50px;
    column-gap: 20px;
    align-items: center;
    max-width: 550px;

    & :nth-child(4) {
      word-break: break-all;
      overflow-wrap: break-word;
    }

  }

  .shevron_btn {
    right: initial;
    top: 0;
    width: 40px;
    height: 60px;
    border: none;
  }


  .tariff_name {
    padding-right: 0;
    // margin: 0 10px 0 20px;
    margin: 0;
  }

  .discount_wrapper {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    gap: 5px;
    order: 2;
  }

  .price {
    order: 1;
    // text-align: end;
    // white-space: nowrap;
  }

  .price_wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: column;
  }

  .dropdown {
    grid-template-columns: auto auto;
    width: 100%;
    column-gap: 25px;
  }

  .period {
    font-weight: 400;
  }
  .value_item {
    width: fit-content;
  }

  .discount_wrapper {
    margin-bottom: 0;
  }

  // .countItem {
  //   margin-left: 20px;
  // }
}
