.wrapper {
  position: relative;
  width: max-content;
  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    transition: transform 150ms;
  }

  &:hover svg {
    fill: url('#gradient');
  }

  &:active {
    svg {
      transform: scale(0.9);
    }
  }

  &.opened {
    z-index: 2;
  }
}

.dropdown {
  position: absolute;
  right: -10px;
  top: calc(100% + 20px);
  border-radius: 3px;
  z-index: 1;
  background-color: var(--forms_bgc_4);
  box-shadow: var(--forms2_shadow);
}

.pointer_wrapper {
  position: absolute;
  width: 30px;
  height: 20px;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  overflow: hidden;
}

.pointer {
  position: absolute;
  top: 13px;
  left: 50%;
  transform: translateX(-50%) rotateZ(45deg);
  width: 14px;
  height: 14px;
  background-color: var(--forms_bgc_4);
  box-shadow: var(--forms2_shadow);
}

.tools__list {
  padding: 15px;
  display: grid;
  column-gap: 5px;
}
.tool_item {
  white-space: nowrap;
}
.tool_item_delete {
  color: var(--red-text_2);
}

.tool_btn {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  text-align: left;

  &:hover {
    background-color: var(--btn-bgc);

    svg:not(.tool_icon_delete) {
      fill: url('#gradient');
    }
  }

  &:disabled {
    color: var(--transparent-color);
    pointer-events: none;

    svg {
      fill: var(--disabled_icon_color);
    }
  }
}

.tool_icon {
  margin-right: 12px;
  width: 20px;
  flex-shrink: 0;
  fill: var(--icon-color_2);
  &_delete {
    fill: var(--red-text_2);
  }
}
