.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 50;

  background-color: var(--elements-bgc);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.07);
}

.flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    cursor: pointer;
  }
}

.btns_wrapper {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 74px;
  }

  .btns_wrapper {
    margin-top: 0;
  }
}
