body {
  --accent-text-gradient: linear-gradient(120deg, #ff3cb1 30%, #e030bd 70%);
  --accent-gradient: linear-gradient(270deg, #ff42a8 0%, #e030bd 100%);
  --accent-color-light: #ff50bf;
  --input-border-icon: #c4c4c4;

  // variables that will be changed on the dark theme
  --main-bgc: #fdfcff;
  --main-text: #392955;
  --btn-bgc: #f9f2ff;
  --elements-bgc: #fff;
  --nearby-elements-bgc: #fff;
  --box-shadow: 4px 4px 10px rgba(213, 201, 236, 0.25), -4px -4px 10px #fefdff;
  --elements-shadow: -4px 0px 10px rgba(65, 38, 114, 0.15);
  --error-color: #d93f21;
  --success-bgc: #fcfcfc;
  --success-color: #45a884;
  --link-color: #4c75a3;

  --auth-placeholder-color: #c4c4c4;
  --eye-color: #777;
  --icon-color: #d9d0eb;
}

// dark theme variables
body.dark-theme {
  --main-bgc: #21192e;
  --main-text: #fff;
  --btn-bgc: #3d3649;
  --elements-bgc: #312b3b;
  --nearby-elements-bgc: #3b3447;
  --box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25), -4px -4px 10px #000000;
  --elements-shadow: -4px 0px 10px rgba(0, 0, 0, 0.15);
  --error-color: #ff4466;
  --success-bgc: #433d4f;
  --success-color: #38d49c;
  --link-color: #8ab7fa;

  --auth-placeholder-color: #544e5e;
  --eye-color: #c4c4c4;
  --icon-color: #75707e;
}
