.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  white-space: nowrap;
  width: 100%;

  span {
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.placeholder {
  color: var(--transparent-color);
}

.text {
  width: calc(100% - 20px);
}

.edit_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 39px;
  padding: 10px;
  text-align: left;
  cursor: text;
  &:hover {
    svg {
      fill: var(--accent-color-light);
    }
  }

  &.shadow {
    &:hover {
      box-shadow: var(--forms3_shadow);
      border-radius: 3px;
    }
  }
}

.editBlock {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 0 7px 10px;
  border-radius: 1px;
  border: 1px solid var(--accent-color-light);
  border-radius: 5px;
  height: 39px;
  max-height: 39px;
  width: 100%;

  input {
    position: relative;
    flex-grow: 1;
    border: none;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    background: transparent;
    color: var(--main-text);
    overflow-x: auto;
    z-index: 1;
  }

  & .edit_input {
    height: 100%;
    max-width: 85%;
  }
}

.btn {
  display: none;
  position: absolute;
  right: 10px;

  &_show {
    display: block;
  }

  &__check {
    cursor: pointer;
    z-index: 2;
    position: relative;
    height: 100%;
    width: 15%;
    right: unset;
    border-left: 1px solid var(--access_rights_bg_item_title);

    & svg path {
      stroke: var(--icon-color_2);
    }

    &:hover svg path {
      stroke: url(#a);
    }
  }
}

.edit_icon {
  fill: var(--accent-color-light);
}
