.phoneInputContainer {
  height: 50px;
  position: relative;
  max-width: 100%;
  z-index: 7;
}

.phoneInputClass {
  height: 50px;
}

.phoneInput {
  width: 100%;
  margin-bottom: 0;
  margin-right: 0px;
}

.phoneInputLabel {
  margin: 0 0 5px 10px;
}

.select,
.input {
  margin-top: 24px;
  z-index: 6;
  max-width: 100%;
  button {
    height: 50px;
  }
}

.typeDescription {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  leading-trim: both;
  text-edge: cap;
  color: var(--main-text);

  margin-top: 20px;

  button {
    color: var(--link-text);
    border-bottom: 1px solid var(--link-text);
    cursor: pointer;
  }
}

.btnBlock {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}

.cancel {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  text-decoration-line: underline;
  margin-top: 22px;
  color: var(--main-text);
  cursor: pointer;
}

.saveBtn {
  width: 100%;
  max-width: 100%;
  text-transform: uppercase;
  height: 55px;
}

@media screen and (min-width: 768px) {
  .phoneInput {
    margin-right: 25px;
  }

  .select,
  .input {
    max-width: 320px;
  }

  .phoneInputContainer {
    max-width: 320px;
  }

  .cancel {
    margin-top: 0px;
    margin-left: 20px;
  }

  .saveBtn {
    width: 240px;
  }

  .btnBlock {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .select {
    button {
      height: 45px;
    }
  }

  .phoneInputContainer {
    height: 45px;
  }

  .phoneInputClass {
    height: 45px !important;
  }
}
