.autoPayContainer {
  margin-top: 42px;
}

.autoPayTitle {
  white-space: pre-line;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 130.5%;
  color: var(--main-text);
  max-width: 920px;
}

.configureBtn {
  height: 53px;
  max-width: 258px;
  text-transform: uppercase;
  margin-top: 36px;
}
