.page_title {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 113%;
  color: var(--main-text);
}

.ownerForm {
  max-height: 0;
  height: auto;
  overflow: hidden;
  padding-bottom: 21px;
  transition: max-height 0.15s ease-out;

  &.isOpen {
    max-height: 2225px;
    height: auto;
    transition: max-height 0.25s ease-in;
  }
}

.formBlock {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  margin-left: 5px;
}

.phoneInputContainer {
  height: 55px;
}

.formBlockTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 115%;
  margin-bottom: 5px;
  color: var(--main-text);
}

.formFieldsBlock {
  display: flex;
  flex-wrap: wrap;
}

.inputHeight {
  height: 55px;
}

.titleBlock {
  display: flex;
  align-items: center;
  cursor: pointer;

  .shevronIcon {
    margin-left: 16px;
    stroke: var(--main-text);
    transform: rotate(180deg);
    transition: linear 0.1s;

    &.isOpen {
      transform: rotate(0deg);
    }
  }
}

.input {
  max-width: 99%;
  margin-top: 13px;
  padding-bottom: 0;
}

.phoneInputLabel {
  margin: 0 0 10px 10px !important;
}

.phoneInput {
  width: 99%;
  max-width: 99%;
  margin: 13px 0 0 0;

  input {
    height: 55px !important;
    background-color: var(--elements-bgc) !important;
  }

  div {
    background-color: var(--elements-bgc) !important;
  }
}

.select {
  max-width: 99%;
  margin-top: 13px;

  button {
    height: 55px;
  }

  span {
    font-size: 16px;
  }

  div {
    font-size: 16px;
  }
}

.countrySelectItem {
  display: flex;
  align-items: center;

  img {
    margin-right: 13px;
  }
}

.category_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 115%;
  color: var(--main-text);
}

.useFirstCheck {
  display: flex;
  align-items: center;
  margin-top: 25px;

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--main-text);
    margin-left: 18px;
  }
}

.selectDropDown {
  top: inherit;
  > div {
    max-height: 200px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    align-items: center;
  }

  .input {
    max-width: 48%;
    margin-right: 20px;
  }

  .formFieldsBlock > div:nth-child(2n) {
    margin-right: 0px;
  }

  .formBlock {
    margin-top: 25px;
  }

  .phoneInput {
    max-width: 48%;
    margin: 13px 20px 0 0;
  }

  .select {
    max-width: 48%;
    margin-right: 20px;
  }

  .phoneInputLabel {
    margin: 0 0 10px 10px !important;
  }

  .ownerForm {
    max-height: 0;
    height: auto;
    overflow: hidden;
    padding-bottom: 21px;
    transition: max-height 0.15s ease-out;

    &.isOpen {
      max-height: 1250px;
      height: auto;
      transition: max-height 0.25s ease-in;
    }
  }
}
