.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;

  position: sticky;
  bottom: 0;
  z-index: 2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--modal_footer_shadow);
}

.icon_cross {
  cursor: pointer;
  min-width: 10px;
}

.history_modal {
  background: var(--main-bgc);
  box-shadow: var(--forms2_shadow);
  border-radius: 3px;
  margin: 20px auto;
  width: 95%;
  max-height: 90vh;
  overflow-y: hidden;
  position: 'relative';
}

.head_row {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 15px 60px 0px;
}

.table_head {
  font-size: 14px;
  color: var(--main-text);

  &:nth-child(1) {
    flex-basis: 13%;
  }
  &:nth-child(2) {
    flex-basis: 42%;
    word-wrap: break-word;
  }
  &:nth-child(3) {
    flex-basis: 30%;
    word-wrap: break-word;
  }
  &:nth-child(4) {
    flex-basis: 15%;
  }
}

.modal_body {
  // overflow-y: auto;
  // max-height: 60vh;
  // position: relative;
  border-radius: 5px;
  padding: 15px 21px;

  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;

  // &::-webkit-scrollbar {
  //   width: 5px;
  // }

  // &::-webkit-scrollbar-track {
  //   background: rgba(161, 161, 161, 23%);
  // }

  // &::-webkit-scrollbar-thumb {
  //   background: #e72690;
  // }
}

.list {
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(161, 161, 161, 23%);
  }

  &::-webkit-scrollbar-thumb {
    background: #e72690;
  }
}

.title_wrapper {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--forms_bgc_2);
  box-shadow: var(--modal_header_shadow);
  padding: 20px 30px 15px;
}

.title {
  display: flex;
  flex-direction: column;
}

.service_name {
  font-size: 16px;
  line-height: 130%;
  color: var(--transparent-color);
}

@media screen and (min-width: 400px) {
  .history_modal {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .pagination {
    justify-content: flex-end;
    padding: 15px 30px;
  }

  .history_modal {
    max-width: 623px;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .title {
    display: flex;
    flex-direction: column;
  }

  .history_modal {
    min-width: 95%;
  }
}
@media screen and (min-width: 1200px) {
  .history_modal {
    max-width: 1077px;
    min-width: 1077px;
  }
}
